body {
    --color-primary: #214F17;
    --color-secondary: #495867;
    --color-tertiary: #998650;
    --color-accent: #ff7477;
    --space-small: 16px;
    --space-base: 24px;
    --space-large: 32px;

    display: inline-flex;
    flex-direction: row;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    flex-direction: column;
    gap: var(--space-small);
    width: 20vw;
    background-color: var(--color-primary);
    align-items: center;
    justify-content: center;
    padding: auto;

    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

nav a:active {
    /* todo */
    color: var(--color-tertiary);
}

h1,
h2,
h3,
h4 {
    color: var(--color-secondary)
}

ul {
    max-width: 60vw;
}

p,
ul {
    color: #787778;
}

#portfolio {
    margin: var(--space-large);
}

#innerExperienceSection,
#innerProjectsSection {
    display: flex;
    flex-direction: column;
    gap: var(--space-large);
}

.section {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 8px;

}

.subtitle {
    margin: 0;
    margin-bottom: var(--space-small);
    line-height: 8px;
    text-transform: uppercase;
}

.description {
    max-width: 60vw;
}

.divider {
    border-bottom: 1px solid var(--color-tertiary);
    height: 0;
    width: 100%;
    margin: var(--space-large) 0;
}

@media (max-width: 992px) {
    body {
        flex-direction: column;
    }

    nav {
        display: flex;
        flex-direction: row;
        gap: 52px
    }
}