#container {
  background-color: #FFFFFF;
  padding: 40px 25px 40px 25px;
}

body {
  background-image: url(../img/teal.jpg);
  background-repeat: vertical;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  margin: 60px auto;
  width: 70%;
}

nav ul, footer ul  {
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: bold;
}

nav ul li, footer ul li {
  display: inline;
  margin-right: 18px;
}

.jumpto ul {
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: bold;
}

.jumpto ul li {
  display: inline;
  margin-right: 20px;
}

.right {
  float: right;
  padding: 10px 5px 10px 5px;
}

.left {
  float: left;
}

.centre {
  position: relative;
  left: 50%;
  /* margin-top: 15px; */
  margin-right: 300px;
}

.clear {
  clear: both;
}


a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline;
}

.top-link {
  font-size: 4pt;
  color: #000080;
}

h1 {
  font-size: 16pt;
  color: #000000;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
  color: #000000;
  text-decoration: none;
}

p {
  font-size: 14pt;
  line-height: 17pt;
  color: #333;
}

footer {
  border-top: 1px solid #d5d5d5;
  font-size: 12pt;
  clear: both;
}

ul.posts li {
  list-style: none;
}

.to-top {
  font-size: 11pt;
  color: #000080;
}

.inline-link {
 color: #00635C;
}

