<!DOCTYPE html>
<html>
    <head>
        <title>YEG News Page</title>
        <meta charset='utf-8' >
    </head>
    <body> 
        <div>
            <p id="content" style="text-align: center; background-color: aliceblue;">Tweet content should load here shortly!</p>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
        <% if (tweets) { %>
        <script>
            var tweetArray = '<%- JSON.stringify(tweets) %>';
            tweetArray = JSON.parse(tweetArray);
            var index = 0;

            loopArray();

            function loopArray() {
                if (tweetArray.length > index) {
                    var currentTweet = tweetArray[index];
                    index++;

                    let html = "<iframe border=0 frameborder=0 height=550 style=\"text-align: center;\" src=\"https://twitframe.com/show?url=https%3A%2F%2Ftwitter.com%2F"
                                + currentTweet.userScreenName 
                                + "%2Fstatus%2F" 
                                + currentTweet.idStr 
                                + "\"></iframe>"

                    
                    $('#content').html(html);
                } else {
                    index = 0;
                }
                setTimeout(loopArray, 60000);
            }
        </script>
        <% } %>
        
    </body>

</html>