.navBar {
    display: flex;
    gap: 0;
}

.navBar a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    width: 80%;
    padding: 6px;
    margin: 0;
    text-align: center;
}

.navBar a:hover {
    background-color: #427935;
}

.navBar a:active {
    /* todo */
    color: var(--color-tertiary);
}


.profileImage {
    border: 8px solid var(--color-tertiary);
    border-radius: 50%;
    /* height: 150px; */
    margin-bottom: var(--space-large);
}