<!DOCTYPE html>
  <html>
      <head>
          <title>{{page.title}}</title>
          <!-- link to main stylesheet -->
          <link rel="shortcut icon" type="image/png" href="/favicon.ico">
          <link rel="stylesheet" type="text/css" href="/css/main.css">
      </head>
    <!-- <img src="https://nienna73.github.io/img/icon.png" class="centre" alt="Icon" height="160" width="158" /> -->
   
      <body>
        
        <div id="container", class="clear">
          <nav>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/resume">Resume</a></li>
              <li><a href="/blog">Blog</a></li>
          </ul>
          </nav>
          <div class="container">
          
          {{ content }}
          
          </div>    <!-- close container -->
          <footer>
          <ul>
              <li><a href="mailto:jcpoulin@ualberta.ca">e-mail</a></li>
              <li><a href="https://github.com/nienna73">github.com/nienna73</a></li>
              <li><a href="https://www.linkedin.com/in/jolene-poulin/">linkedIn</a></li>
          </ul>
          </footer>
        </div> <!-- close container and clear -->
       </body>
   </html>
